
body {
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    font-size: 22px;
}   
th.ho {
    color: rgb(0, 195, 255);
}  
ul.Games{
    color:rgb(121, 123, 174);
}
#Quotes {

    background-color: rgb(35, 227, 10);
 }
table,th, td {
    border: 1px rgb(255, 255, 255) solid;
}
table {
    border-collapse: collapse;
    width: 100%;
}
img {
    border-radius: 8px;
}
.photo { 
    border: 3px rgb(255, 255, 255) solid;
    width: "600" height="400";

 }